<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Node JSs</title>
    <style>
        ul{
            display: flex;
        }
        li{
            margin: 10px;
            list-style-type: none;
        }a{
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/download">Download</a></li>
        </ul>
    </nav>
    <h1>Home Page</h1>
</body>

</html>
